
services:
  api:
    build:
      context: .
    image: users-api
    env_file:
      - .env.docker
    ports:
      - '${APP_PORT:-3000}:3000'

    depends_on:
      mongo:
        condition: service_started
    volumes:
      - .:/app
      - node_modules:/app/node_modules


  mongo:
    image: mongo:7
    restart: unless-stopped
    env_file:
      - .env.docker
    ports:
      - '${MONGO_PORT:-27017}:27017'
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_DB}
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
  node_modules:


